
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #000;
}

.top-banner {
    background: #f5f5f5;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    letter-spacing: 0.5px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    border-bottom: 1px solid #e5e5e5;
}

.logo {
    color: #d50000;
    font-weight: bold;
    font-size: 28px;
}

.nav a {
    margin: 0 14px;
    text-decoration: none;
    color: #777;
    font-size: 14px;
}

.nav a.active {
    color: #000;
    font-weight: bold;
}

.icons span {
    margin-left: 18px;
    cursor: pointer;
    font-size: 16px;
}


.h
.hero {
    position: relative;
    height: 520px;

    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
}

.hero-text h1 {
    color: #d50000;
    font-size: 56px;
    line-height: 1.1;
}

.hero-text span {
    font-size: 46px;
}


.info {
    padding: 30px 40px;
    border-top: 1px solid #e5e5e5;
}

.info h2 {
    font-size: 16px;
    margin-bottom: 4px;
}

.info p {
    font-size: 14px;
    margin-bottom: 8px;
}

.info a {
    font-size: 12px;
    color: #777;
    text-decoration: underline;
}



{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}


.gym-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.gym-card {
    background-color: #1a1a1a;
    max-width: 1000px;
    display: flex;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.gym-image {
    width: 50%;
    object-fit: cover;
}


.gym-content {
    padding: 40px;
    width: 50%;
}

.gym-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.gym-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ccc;
}

.gym-content ul {
    list-style: none;
    margin-bottom: 30px;
}

.gym-content ul li {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #c9a24d;
    color: #000;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e0b85f;
}